.jumbotron {
    padding : 60px 0px 0px 0px;
    background: aqua;

}

p {
    font-size: 15px;
}
#project {
    background-color: aqua;
    padding-top: 4rem;
    
}
a {
    font-weight : bold;
}
section {
    padding: 50px 0px 0px 0px;
}
.lead {
    font-size: 30px;
}